body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#uuidSelect,
#logDisplay {
    margin-top: 20px;
}

#logDisplay {
    border: 1px solid #ccc;
    padding: 10px;
    height: calc(90vh - 200px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 1px;
}

@media (max-width: 600px) {
    #logDisplay {
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    }
}

.log-header,
.log-row {
    display: contents;
}

.log-header p,
.log-row p {
    margin: 0;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    max-width: 600px;
    overflow-wrap: break-word;
}

.log-header p {
    font-weight: bold;
    background-color: #f3f3f3;
    height: 30px;
    position: sticky;
    top: 0;
}

#dropZone {
    margin-top: 20px;
    height: 50px;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

#dropZone:hover {
    border-color: #999;
    color: #999;
}

#dropZone.dragover {
    border-color: #000;
    color: #000;
}

#fileNameDisplay,
#uuidCountDisplay {
    margin-top: 10px;
    display: block;
}

#filterContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#logLevelSelect {
    margin-left: 10px;
    padding: 5px;
}

#uuidSelect {
    margin-top: 10px;
    padding: 5px;
}

.json-cell {
    cursor: pointer;
}

.json-cell.expanded pre {
    white-space: pre-wrap;
}

.show-more {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 0.9em;
}