body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#logDisplay {
    border: 1px solid #ccc;
    padding: 10px;
    height: calc(90vh - 300px);
    overflow-y: auto;
    margin-top: 20px;
}

.log-header,
.log-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    gap: 5px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.log-header {
    font-weight: bold;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
}

.log-row > div,
.log-header > div {
    padding: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    min-width: 0;
}

.log-row > div {
    white-space: pre-wrap;
}

.json-content {
    max-height: 100px;
    overflow-y: auto;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.json-content pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.show-more {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-top: 5px;
    font-size: 0.9em;
}

#filterContainer,
#uuidSelectContainer {
    margin-top: 20px;
}

#dropZone {
    margin-top: 20px;
    height: 50px;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

#dropZone:hover {
    border-color: #999;
    color: #999;
}

#dropZone.dragover {
    border-color: #000;
    color: #000;
}

#fileInfo {
    margin-top: 20px;
}

#logLevelSelect,
#uuidSelect {
    margin-left: 10px;
    padding: 5px;
}